Repository hashicorp/packer-plugin-amazon, pull requests merged in 2024-06, with the labels that each got.

#484 builder: improve documentation on virtual_name
  .web-docs/components/builder/chroot/README.md
  .web-docs/components/builder/ebs/README.md
  .web-docs/components/builder/ebssurrogate/README.md
  .web-docs/components/builder/ebsvolume/README.md
  .web-docs/components/builder/instance/README.md
  builder/common/block_device.go
  docs-partials/builder/common/BlockDevice-not-required.mdx
Labels: docs

#487 Add support for arm64_mac architecture
  .web-docs/components/builder/chroot/README.md
  .web-docs/components/builder/ebssurrogate/README.md
  builder/chroot/builder.go
  builder/ebssurrogate/builder.go
  docs-partials/builder/chroot/Config-not-required.mdx
  docs-partials/builder/ebssurrogate/Config-not-required.mdx
Labels: enhancement

#490 builder: remove instances of confighelper.Trilean
  .web-docs/components/builder/ebs/README.md
  .web-docs/components/builder/ebssurrogate/README.md
  .web-docs/components/builder/ebsvolume/README.md
  .web-docs/components/builder/instance/README.md
  builder/chroot/step_create_volume_test.go
  builder/chroot/step_register_ami.go
  builder/common/run_config.go
  builder/common/step_modify_ebs_instance.go
  builder/common/step_network_info.go
  builder/common/step_run_source_instance.go
  builder/common/step_run_spot_instance.go
  builder/common/step_source_ami_info.go
  builder/ebssurrogate/step_register_ami.go
  builder/instance/step_register_ami.go
  docs-partials/builder/common/RunConfig-not-required.mdx
Labels: tech-debt, docs
